@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

.s2{
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(37,24,55,1) 25%, rgba(134,68,222,1) 60%, rgba(173,68,222,1) 83%, rgba(186,44,198,1) 100%);
    color: white;
}


#heading_about{
    padding-top: 5vh;
    color:white;
    font-size:10vh;
    font-family: 'Indie Flower', cursive;

}
h1,h2,h3,h4,h5,h6{
    overflow: hidden;
}

#content_about{
    margin:50px;
    z-index:8;
    color:white;
    word-wrap: none;
    font-size: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Poiret One', cursive;

}

#scrollabout{
    overflow:auto;
}

@media (max-width:600px)
{
    #heading_about{
        font-weight:bolder;
        font-size:50px;
       
    }
    
    #content_about{
        margin:20px;
        z-index:8;
        word-wrap: none;
        font-size:15px;
    
    }
    
    
}
