@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
.card-ayan{
	width: 18em;
	height: 30em;
	background: #6627C9;
	
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}
.card-parmar{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
}
.contact-us-header{
	text-align: center;
	padding-top: 5vh;
    color:white;
    font-size:10vh;
    font-family: 'Indie Flower', cursive;
}
#card-jitu{
	height: 100%;
	overflow: hidden;
	background: rgb(39,35,67);
	background: linear-gradient(180deg, rgba(39,35,67,1) 0%, rgba(31,19,52,1) 49%, rgba(6,0,0,1) 100%);

}
.contact-us-img-ayan{
	width: 12em;
	height: 100%;
	overflow: hidden;
	margin: auto;
	margin-top: 2em;
	font-family: 'Montserrat Alternates', sans-serif;
	
}
.contact-us-img-ayan img{
	height: 12em;
	width: 12em;
}
.contact-us-name{
	font-size: 1.5em;
	color: white;
	position: relative;
	margin-top: 50px;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
}
.contact-us-post{
	font-size: 1em;
	color: white;
text-align: center;
font-family: 'Poiret One', cursive;
}
.line-contact-us{
	
	width: 100%;
	margin: auto;
	background-color: white;
	height: 1px;
	margin-top: 1em;
}
.email-contact-us{
	margin-top: 1em;
	font-size: .6em;
	color: white;
	text-align: center;
}

.margin-bottom-md{
	margin: 0 !important;
}
footer{
	background: rgb(39,35,67);
	/*background: rgba(6,0,0,1);*/
	color: white;
	font-family: 'Poiret One', cursive;

}
.footer-address{
	text-align: center;
}
.footer-copyright{
	text-align: center;
}