@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
/* Style the tab */
.tab {
  float: left;
  text-align: center;
}
#scrollgallery{
  overflow-y: hidden;
  background: #000000;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/


}
/* Style the buttons inside the tab */
.tab button {
  background-color: white;
  color: black;

  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5rem;
  border-radius: 40px;
  padding: 5px 15px;
  margin-top: 1rem;
  display: flex;
  width: 7em;
  justify-content: center;
  font-family: 'Poiret One', cursive;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: black !important;
  color: white !important;
  border: 2px solid white !important;
}
@media (max-width:700px){
  #scrollgallery{
    height:auto;
    overflow-y: visible;
  }
}
/* Style the tab content */
.tabcontent {
  float: left;

  border-left: none;
  /* line-height: 30vh; */
}
.flex {
  position: relative;
  /* top: 100vh; */
  /* transform: translateY(-50%); */
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  flex-wrap: wrap;
  /* line-height: 50vh; */

  width: 100%;
}
.gallerypage {
  background-color: black;
}
/* @media screen and (max-width: 433px) {
  .tabcontent {
    margin-top: 0;
  }
  .tab {
    margin-top: 0;
  }
} */

/* img {
  width: 90%;
} */
.gallery-section {
  width: 100%;
  padding: 60px 0;
  background: black;
}

.inner-width {
  width: 85%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1 {
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border {
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

.gallery-section .gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image {
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.gallery a{
  width: 15vw;
  height: 15vw;
}

.gallery-section .image:hover img {
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width: 960px) {
  .gallery-section .image {
    flex: 33.33%;
  }
  /* .flex {
    margin-top: 20%;
  } */
  /* .tab {
    position: absolute;
    top: 0;
  } */
}

@media screen and (max-width: 768px) {
  .gallery-section .image {
    flex: 50%;
  }
  .inner-width{
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .gallery-section .image {
    flex: 50%;
  }
}
@media screen and (max-width: 1318px) {
  /* .tab {
    margin-top: 15rem;
  } */
}
/* .test {
  height: 100vh;
  width: 100vw;
  background-color: aqua;
}
.test2 {
  height: 100vh;
  width: 100vw;
  background-color: red;
} */

.gallerypage-header {
  text-align: center;
  padding-top: 5vh;
  color:white;
  font-size:10vh;
  font-family: 'Indie Flower', cursive;
}

@media screen and (max-width: 560px) {
  .gallerypage-header {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 470px) {
  .gallerypage-header {
    font-size: 2em;
  }
}
@media screen and (max-width: 320px) {
  .gallerypage-header {
    font-size: 1.5em;
  }
}
a {
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

